<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name of business:</strong>
    <%= invoice.name_of_business %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal box:</strong>
    <%= invoice.postal_box %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= invoice.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= invoice.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name of invoice generator:</strong>
    <%= invoice.name_of_invoice_generator %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address of invoice generator:</strong>
    <%= invoice.address_of_invoice_generator %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice no:</strong>
    <%= invoice.invoice_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= invoice.note %>
  </p>


</div>
